<template>
<div class='intake-view'>
    <h3>{{msg}}</h3>
    <input type="file" @change="onFileChanged">
    <vk-button type="primary" @click="onProcess">Process Image</vk-button>
    </div>
</template>

<script>
export default {
  name: 'intake-view',
  data () {
    return {
      msg: 'Hello, please add an image for your plant patient',
      selectedFile: null
    }
  },
  methods: {
    onFileChanged (event) {
      this.selectedFile = event.target.files[0]
    },
    onProcess () {
      var cube = new this.$ColorCube() // local access to cube
      console.log('resolution: ' + cube.resolution)
      console.log('cell count ' + cube.cellCount)
      cube.findLocalMaxima()

      // if (this.selectedFile !== null) {
      // // alert('received file: ' + this.selectedFile.name)
      //   //processImageWithBuffer(this.selectedFile)

      //   //const buf1 = Buffer.from("hello from buffer")
      //   //alert(buf1)

      //   // const buffer = Buffer.from([this.selectedFile])
      //   // console.log('buffer data: ' + JSON.stringify(buffer.data))
      //   //Get pixels library
      //   this.$GetPixels(img, function (err, pixels) {
      //     if (err) {
      //       console.log('error: ' + JSON.stringify(err))
      //       alert('Error: Bad image path')
      //     }
      //     alert('got pixels', pixels.shape.slice())
      //   })
      // } else {
      //   alert('No Data received')
      // }
    }
  }
}

// process image file -> possible paths to preprocessing
// 1. parse data from buffer and store pixel data in local storage
// 2. In memory object
// 3. server Sync back
// function processImageWithBuffer (data) {
//   alert('processing image: ' + data.name)
//   alert('image data: ' + JSON.stringify(data))
//   const buffer = Buffer
//     }

</script>
